/*--------------------------------------------------
	[Project Info]
	Project:		DSK - Furniture Store WooCommerce WordPress Theme
	Version:		1.2
	Author:			snstheme
	Last change: 	02 May 2019
	-----
	This file render from .scss files. To work with .scss files:
	    - Please config Admin >> DSK >> Advance >> SCSS Compile: Alway complile
	    - Please follow some table contents bellow and go to that .scss files to edit/add styles for each section if you want.
----------------------------------------------------*/

@import 'compass';

// Bootstrap: Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Theme: Variables and Mixins
@import 'theme_variables';
@import 'theme_mixin';
// Woo
@import 'woo/woocommerce';

// Theme
@import 'theme/_general';
@import 'theme/_effects';
@import 'theme/_widgets';
@import 'theme/_main';
@import 'theme/_header';
@import 'theme/_snsmenu';
@import 'theme/_shortcodes';
@import 'theme/_post';
@import 'theme/_toolbar_list';
@import 'theme/_product_list';
@import 'theme/_product';
@import 'theme/_pp_theme';
@import 'theme/_cpanel';
